<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <description>"description???"</description>
    <bean name="customerRepositoryBean"
          class="com.pluralsight.repository.AnotherCustomerRepositoryImpl"

    />
    <bean name="customerServiceBean"
          class="com.pluralsight.service.CustomerServiceImpl"
    autowire="byName">
        <property name="customerRepository" ref="customerRepositoryBean" />
    </bean>


</beans>